@import '../../styles.scss';

.pdfContainer {
  background: radial-gradient(circle, #223f34, #000000);
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  position: relative;
  padding-top: 10rem;

  @include tablet {
    height: 90vh;
  }

  .btn {
    position: absolute;
    top: 2rem;
    display: flex;
    align-items: center;
    transform: translateX(-50%);

    p {
      font-size: 2rem;
      margin-right: 2rem;
      color: #fff;
    }

    .btn-b {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      background-color: #223f34;
    }

    .btn-p {
      padding: 1rem 2rem;
      cursor: pointer;
      background-color: #223f34;
      border: none;
      margin: 0 1rem;
      color: #fff;
    }

    .btn-n {
      padding: 1rem 2rem;
      background-color: #223f34;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }
}
